<%- include('../partials/header') %>
<p>my profile</p>

<button id="showFormButton">Show Form</button>
  <div id="formContainer" class="toAppear">
   









    
  </div>

<script src="/js/myProfile.js"></script>
<%- include('../partials/footer') %>
