* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
}

nav {
  background-color: #bebebe;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav a {
  margin: 0px 15px 0px 5px;
}

#logo {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 34px;
}

main {
  background-color: white;
  padding: 20px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.piece-div {
  width: 650px;
  height: 225px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  border: solid black 2px;
}

.single-piece-div {
  width: 650px;
  height: 455px;
  margin-top: 5px;
  display: flex;
  border: solid black 2px;
}

.piece-div:hover {
  cursor: pointer;
}

.piece-details-div {
  width: 60%;
  height: 100%;
}

.piece-details-div p {
  margin-left: 10px;
}

.piece-web-link {
  margin-left: 10px;
}

.piece-image-div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.piece-image {
  height: 100%;
  width: auto;
}

.single-piece-container {
  display: flex;
}

.single-piece-container-left {
  width: 343px;
  margin-top: 5px;;
}