* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

#logo {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* .toAppear {
  overflow: hidden;
  transition: height .3s ease-in-out;
  height: 0px;
} */

.hidden {
  display: none;
}

input {
  width: 500px;
}

.piece-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.piece {
  width: 500px;
  background-color: #fff;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.piece-details {
  width: 70%;
  text-align: left;
  background-color: aqua;
}

.piece-image-div {
  position: relative;
}

.piece-image {
  position: absolute;
  width: 50px;
  height: auto;
}